---
import HTML from "./icon/HTML.astro";
import CSS from "./icon/CSS.astro";
import Github from "./icon/Github.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const TAGS = {
  HTML: {
    name: "Html",
    class: "bg-black text-white",
    icon: HTML,
  },
  CSS: {
    name: "Css",
    class: "bg-black text-white",
    icon: CSS,
  },
};

const PROJECTS = [
  {
    title: "Evento X",
    description: t("project.des.1"),
    link: "https://eventox-client-dun.vercel.app/",
    github: "https://github.com",
    image: "/projects/eventox.webp",
    tags: [TAGS.HTML, TAGS.CSS],
    plataform: ["Mobile", "Web"],
  },
  {
    title: "Spootchat",
    description: t("project.des.2"),
    link: "https://spoot-chat-frontend.vercel.app/",
    github: "https://github.com",
    image: "/projects/spootcht.webp",
    tags: [TAGS.HTML, TAGS.CSS],
    plataform: ["Mobile", "Web"],
  },
  {
    title: "Tool AI",
    description: t("project.des.3"),
    link: "https://react-gpt-frontend-psi.vercel.app",
    github: "https://github.com",
    image: "/projects/toolai.webp",
    tags: [TAGS.HTML, TAGS.CSS],
    plataform: ["Mobile", "Web"],
  },
];

import CodeIcon from "./icon/Code.astro";
---

<h2 class="text-3xl font-semibold pb-6 flex gap-x-3 items-center">
  <CodeIcon class="size-7" />
  {t("project.title.main")}
</h2>
<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img
              alt="Recién llegado vs 5 años en Nueva Zelanda"
              class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
              loading="lazy"
              src={image}
            />
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold text-white dark:text-gray-100">
            {title}
          </h3>
          <div class="flex flex-wrap mt-2">
            <ul class="flex flex-row mb-2 gap-x-2">
              {tags.map((tag) => (
                <li>
                  <span
                    class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                  >
                    <tag.icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>

            <div class="mt-2 text-sky-200 dark:text-gray-400">
              {description}
            </div>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
              {github && (
                <a
                  role="link"
                  class="inline-flex items-center justify-center gap-2 px-3 py-2 space-x-2 text-base text-white transition bg-gray-800 border border-gray-600 focus-visible:ring-yellow-500/80 text-md hover:bg-gray-800 hover:border-gray-900 group max-w-fit rounded-xl hover:text-white focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black"
                  href={github}
                >
                  <Github class="size-6" />
                  Code
                </a>
              )}
              {link && (
                <a
                  role="link"
                  class="inline-flex items-center justify-center gap-2 px-3 py-2 space-x-2 text-base text-white transition bg-gray-800 border border-gray-600 focus-visible:ring-yellow-500/80 text-md hover:bg-gray-800 hover:border-gray-900 group max-w-fit rounded-xl hover:text-white focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black"
                  href={link}
                >
                  <link class="size-4" />
                  Preview
                </a>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>
