---
import HTML from "./icon/HTML.astro";
import CSS from "./icon/CSS.astro";
import Github from "./icon/Github.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import NextIcon from "./icon/Next.astro";
import ViteIcon from "./icon/Vite.astro";
import VitestIcon from "./icon/Vitest.astro";
import ReactIcon from "./icon/React.astro";
import ReactRouterIcon from "./icon/React-Router.astro";
import ReduxIcon from "./icon/Redux.astro";
import SassIcon from "./icon/Sass.astro";
import TailwindIcon from "./icon/Tailwind.astro";
import NestIcon from "./icon/Nest.astro";
import SpringIcon from "./icon/Spring.astro";
import FirebaseIcon from "./icon/Firebase.astro";
import PostgresIcon from "./icon/Postgres.astro";
import AwsIcon from "./icon/Aws.astro";
import ExpressIcon from "./icon/Express.astro";
import CloudinaryIcon from "./icon/Cloudinary.astro";
import MongoIcon from "./icon/Mongo.astro";
import RedisIcon from "./icon/Redis.astro";
import OpenIcon from "./icon/OpenAi.astro";
import DockerIcon from "./icon/Docker.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const TAGS = {
  HTML: {
    name: "Html",
    class: "bg-black text-white",
    icon: HTML,
  },
  CSS: {
    name: "Css",
    class: "bg-black text-white",
    icon: CSS,
  },
  NEXT: {
    name: "Next",
    class: "bg-black text-white",
    icon: NextIcon,
  },
  VITE: {
    name: "Vite",
    class: "bg-black text-white",
    icon: ViteIcon,
  },
  VITEST: {
    name: "Vitest",
    class: "bg-black text-white",
    icon: VitestIcon,
  },
  REACT: {
    name: "React JS",
    class: "bg-black text-white",
    icon: ReactIcon,
  },
  REACTROUTER: {
    name: "React Router",
    class: "bg-black text-white",
    icon: ReactRouterIcon,
  },
  REDUX: {
    name: "Redux",
    class: "bg-black text-white",
    icon: ReduxIcon,
  },
  SASS: {
    name: "Sass",
    class: "bg-black text-white",
    icon: SassIcon,
  },
  TAILWIND: {
    name: "Tailwind",
    class: "bg-black text-white",
    icon: TailwindIcon,
  },
  NEST: {
    name: "Nest Js",
    class: "bg-black text-white",
    icon: NestIcon,
  },
  SPRING: {
    name: "Spring Boot",
    class: "bg-black text-white",
    icon: SpringIcon,
  },
  FIREBASE: {
    name: "Firebase",
    class: "bg-black text-white",
    icon: FirebaseIcon,
  },
  POSTGRES: {
    name: "Postgres",
    class: "bg-black text-white",
    icon: PostgresIcon,
  },
  AWS: {
    name: "Amazon Web Service",
    class: "bg-black text-white",
    icon: AwsIcon,
  },
  EXPRESS: {
    name: "Express Js",
    class: "bg-black text-white",
    icon: ExpressIcon,
  },
  CLOUDINARY: {
    name: "Cloudinary",
    class: "bg-black text-white",
    icon: CloudinaryIcon,
  },
  MONGO: {
    name: "MongoDb",
    class: "bg-black text-white",
    icon: MongoIcon,
  },
  REDIS: {
    name: "Redis",
    class: "bg-black text-white",
    icon: RedisIcon,
  },
  OPENAI: {
    name: "Open AI",
    class: "bg-black text-white",
    icon: OpenIcon,
  },
  DOCKER: {
    name: "Docker",
    class: "bg-black text-white",
    icon: DockerIcon,
  },
};

const PROJECTS = [
  {
    title: "Evento X",
    description: t("project.des.1"),
    link: "https://eventox-client-dun.vercel.app/",
    image: "/projects/eventox.webp",
    tags: [
      TAGS.AWS,
      TAGS.CLOUDINARY,
      TAGS.NEST,
      TAGS.NEXT,
      TAGS.SPRING,
      TAGS.FIREBASE,
      TAGS.REACT,
      TAGS.SASS,
      TAGS.REDUX,
      TAGS.POSTGRES,
    ],
    plataform: ["Mobile", "Web"],
  },
  {
    title: "Spootchat",
    description: t("project.des.2"),
    link: "https://spoot-chat-frontend.vercel.app/",
    image: "/projects/spootcht.webp",
    tags: [
      TAGS.SPRING,
      TAGS.CLOUDINARY,
      TAGS.FIREBASE,
      TAGS.REACT,
      TAGS.TAILWIND,
      TAGS.REDUX,
      TAGS.POSTGRES,
      TAGS.EXPRESS,
      TAGS.DOCKER,
    ],
    plataform: ["Mobile", "Web"],
  },
  {
    title: "Tool AI",
    description: t("project.des.3"),
    link: "https://react-gpt-frontend-psi.vercel.app",
    github: "https://github.com",
    image: "/projects/toolai.webp",
    tags: [
      TAGS.REACT,
      TAGS.VITE,
      TAGS.NEST,
      TAGS.OPENAI,
      TAGS.DOCKER,
      TAGS.MONGO,
    ],
    plataform: ["Mobile", "Web"],
  },
];

import CodeIcon from "./icon/Code.astro";
---

<h2 id="project" class="text-3xl font-semibold pb-6 flex gap-x-3 items-center">
  <CodeIcon class="size-7" />
  {t("project.title.main")}
</h2>
<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img
              alt="QUE MIRA BOBO"
              class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
              loading="lazy"
              src={image}
            />
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold text-white dark:text-gray-100">
            {title}
          </h3>
          <div class="flex flex-wrap mt-2">
            <ul class="flex flex-wrap mb-2 gap-x-2 gap-y-2">
              {tags.map((tag) => (
                <li>
                  <span
                    class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}
                  >
                    <tag.icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>

            <div class="mt-2 text-sky-200 dark:text-gray-400">
              {description}
            </div>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
              {github && (
                <a
                  role="link"
                  target="_blank"
                  class="inline-flex items-center justify-center gap-2 px-3 py-2 space-x-2 text-base text-white transition bg-gray-800 border border-gray-600 focus-visible:ring-yellow-500/80 text-md hover:bg-gray-800 hover:border-gray-900 group max-w-fit rounded-xl hover:text-white focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black"
                  href={github}
                >
                  <Github class="size-6" />
                  Code
                </a>
              )}
              {link && (
                <a
                  role="link"
                  target="_blank"
                  class="inline-flex items-center justify-center gap-2 px-3 py-2 space-x-2 text-base text-white transition bg-gray-800 border border-gray-600 focus-visible:ring-yellow-500/80 text-md hover:bg-gray-800 hover:border-gray-900 group max-w-fit rounded-xl hover:text-white focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black"
                  href={link}
                >
                  <link class="size-4" />
                  Preview
                </a>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>
